/*  your css code here. If applicable */
body {
	width : 1100px;
	background-color : skyblue;
}

.imageContainer {
	border : 1px solid grey;
	padding : 10px;
}

.start, .end{
	width : 200px;
}

.middle {
	width : 600px;
}

img {
	margin : 10px;
}
.image {
	width : 500px;
}